.beta_test{
    min-height: 70px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background-color: transparent;
    text-transform: uppercase;
    color: white !important;
    border:3px solid #fff;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 15px;
    
}
.beta_test:hover{
    background-color: #48b7ac;
}