<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title text-xs-center uppercase">Стать бета-тестером ANDROID</h4>
</div>
<div class="modal-body">
  <div class="row r-pad">
    <div class="col-xs-12 scrollable">
      <div class="row">
        <div class="col-xs-2 col-sm-1 text-xs-center">
          <span class="tag circle tag-primary">1</span>
        </div>
        <div class="col-xs-10 col-sm-11">
          <p class="text-justify">Вступая в программу бета-тестирования, вы получите уникальный шанс принять участие в разработке приложения и помочь нам сделать приложение лучше для всех.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1 text-xs-center">
          <span class="tag circle tag-primary">2</span>
        </div>
        <div class="col-xs-10 col-sm-11">
          <p class="text-justify">Вступая в программу бета-тестирования, вы получите уникальный шанс принять участие в разработке приложения и помочь нам сделать приложение лучше для всех.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1 text-xs-center">
          <span class="tag circle tag-primary">3</span>
        </div>
        <div class="col-xs-10 col-sm-11">
          <p class="text-justify">Вступая в программу бета-тестирования, вы получите уникальный шанс принять участие в разработке приложения и помочь нам сделать приложение лучше для всех.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1 text-xs-center">
          <span class="tag circle tag-primary">4</span>
        </div>
        <div class="col-xs-10 col-sm-11">
          <p class="text-justify">Вступая в программу бета-тестирования, вы получите уникальный шанс принять участие в разработке приложения и помочь нам сделать приложение лучше для всех.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
 <a href="https://play.google.com/apps/testing/uz.dida.payme" target="_blank" class="text-xs-center uppercase"><h4>Стать бета тестером</h4></a>
</div>
