<template ngbModalContainer></template>
<section id="home">
  <div class="container-fluid">
    <div class="logo text-xs-center">
          <img src="../assets/img/logo.png" class="img-responsive center-block" >
    </div>
    <h1 class="heading-better text-xs-center">Вместе мы сделаем Payme лучше!</h1>
    <p class="text-xs-center">Мы открываем программу бета-тестирования новых версий приложения Payme,<br> в которой может принять участие любой желающий.</p>
    <div class="row">
      <div class="col-md-12 text-xs-center btns">
        <img  src="../assets/img/arrow.png">
        <ios-Modal></ios-Modal>
        <!-- <a  href="#" class="icon ios"></a> -->
        <android-Modal></android-Modal>
       <!-- <a target="_blank" href="https://play.google.com/apps/testing/uz.dida.payme" class="icon android"></a> -->
       
      </div>
    </div>
    <p class="text-xs-center enter_prog">Вступая в программу бета-тестирования, вы получите уникальный шанс принять участие в<br> разработке приложения и помочь нам сделать приложение лучше для всех.</p>
    <div class="text-xs-center btn_beta_test">
      <betaTestModal></betaTestModal>
     <!-- <a class="btn btn-secondary"><span>Что такое бета-тестирование?</span></a>-->
      
    </div>
    <div class="row text-xs-center">
      <p class="last">Помните, что вступив в группу бета-тестеров, вы будете получать самые свежие обновления, но они могут быть нестабильны.</p>
    </div>
</div>
</section>
